/* este es un bloque de  comentario */

// _COLORES.SCSS


/* VARIABLES */

/* variable valor unico */

sverde: #244824;
$verdenormal: green; 
$azul: lightblue;


/* variable multiple */


$titulo-fuente: normal 24px/1.5 'open sans', sans-serif;

$tituloFuente2: normal 16px/1.5 'open sans', sans-serif;



